<template lang="pug">
  .about 
    p Скоро здесь будут правила пользования сервисом...
    .about__auth-section(v-if="profile") 
      a(href="https://vk.com/communa_me") Группа ВКонтакте
      a(href="https://t.me/joinchat/AAAAAEds7dT8pgDbB4_8gg") Канал в Телеграме
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState('user', ['profile'])
  }
}
</script>


<style lang="scss" scoped>
  .about {
    max-width: 600px;
    margin: auto;
    padding: 0;
    
    &__auth-section {
      display: flex;
      flex-direction: column;
    }
  }
</style>
