<template lang="pug">
transition(name="right" appear)
    section
      .turtle__guard
      .turtle-back
        span.num403 403 
        | вам сюда нельзя
</template>

<style lang="scss">
.turtle {
  &__guard {
    background: url("../assets/403.png") center center no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
    position: fixed;
    bottom: 0;
    right: 0;
    animation: guard 3s ease-in 1s infinite;
    z-index: 999999;

    @keyframes guard {
      0% {
        right: 0;
      }
      50% {
        right: calc(100% - 500px);
      }
      100% {
        right: 0;
      }
    }
  }

  &-back {
    font-size: 5em;
    margin-top: 100px;
    text-align: center;
    font-weight: bolder;
    color: #999;

    .num403 {
      color: #ddd;
      font-size: 6em;
      position: absolute;
      z-index: -1;
    }
  }
}
</style>

