<template lang="pug">
    item-creator(
        :isMobile="isMobile", 
        submitUrl="/api/postItem",
        @submit="$router.push('/items/active')",
        @dismiss="$router.push('/items')"
    )
        template(slot="title") Добавьте новое предложение
</template>

<script>
import itemCreator from '../components/itemCreator.vue';

export default {
    props: ['isMobile'],
    components: { itemCreator }
};
</script>

<style lang="scss">
.add-item {
    padding: 50px;

    &__content {
        display: flex;
    }

    .md-accent.fullwidth {
        margin-left: 8px;
    }
}
</style>

