<template lang="pug">
    item-creator(
        :isMobile="isMobile", 
        submitUrl="/api/postRequest",
        @submit="$router.push('/requests/out')",
        @dismiss="$router.push('/requests')"
    )
        md-autocomplete(
            class="search-item",
            v-model="query", 
            :md-options="items",
            @md-changed="getSuggestions",
            @md-selected="selectHandler"
        )
            label Найти нужное
            template(slot="md-autocomplete-item", slot-scope="{ item }") {{ item.title }}
        template(slot="title") или создать новый запрос
</template>

<script>
import { clearTimeout, setTimeout } from 'timers';
import axios from 'axios';
import itemCreator from '../components/itemCreator.vue';
import { functions } from '../firebase';

let delay;

export default {
    data: () => ({
        query: '',
        items: []
    }),
    props: ['isMobile'],
    methods: {
        selectHandler() {
            const selected = this.query;
            this.query = selected.title;
            this.$router.push(`/items/${selected.id}`);
        },
        getSuggestions(search) {
            this.items =
                search.length < 2
                    ? Promise.resolve([])
                    : functions
                          .httpsCallable('getSuggestions')({ search })
                          .then(res => res.data.items);
        }
    },
    components: { itemCreator }
};
</script>

<style lang="scss">
.search-item {
    max-width: 500px;
}
</style>

