<template lang="pug">
    section.detailed-item
        section.detailed-item-info
            h1.detailed-item__title {{ currentItem.title }}
            star-rating(:rating="currentItem.rating", :increment="0.1", :star-size="20", :show-rating="false", read-only)
            p.detailed-item__description {{ currentItem.description }}
            section.detailed-item-info__owner
                .detailed-item__subtitle Владелец
                md-avatar
                    img(:src="ownerDetails.photos && ownerDetails.photos[0].value", alt="Item photo")
                section.detailed-item-info__owner-info
                    .owner-title {{ ownerDetails.displayName }}
                    star-rating( 
                        :rating="ownerDetails.rating", 
                        :star-size="10", 
                        :show-rating="false",
                        active-color="#444",
                        inactive-color="#fff",
                        read-only
                    )
            md-button.md-primary.md-raised.detailed-item__request-button(
                v-if="currentUser.id !== currentItem.owner",
                @click="prepareRequest"
            ) Отправить запрос
            section.detailed-item-info__reviews(v-if="reviews.length")
                h2 Отзывы
                review-list-item(
                    v-for="review in reviews",
                    :key="review.id",
                    :review="review"
                )
        section.detailed-item-image
            img(:src="currentItem.images && currentItem.images[0].url", alt="")
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import starRating from 'vue-star-rating';
import reviewListItem from '../components/reviewListItem.vue';
import { sendRequest } from '../firebase';

export default {
  data: () => ({
    reviews: []
  }),
  props: ['itemKey'],
  computed: {
    ...mapState(['ownerDetails', 'currentItem']),
    ...mapState('user', { currentUser: 'profile' })
  },
  components: { starRating, reviewListItem },
  methods: {
    prepareRequest() {
      const config = {
        itemKey: this.itemKey,
        userKey: this.currentUser.id,
        owner: this.currentItem.owner
      };
      return sendRequest(config).then(() =>
        this.setSnackbarMessage('Запрос успешно отправлен!')
      );
    },
    ...mapMutations(['setSnackbarMessage'])
  },
  firestore() {
    return {
      reviews: this.$db.collection(`reviews`).where('item', '==', this.itemKey)
    };
  },
  watch: {
    'currentItem.owner': function handler(val) {
      if (!val) return;
      this.$store.dispatch('bindRef', {
        field: 'ownerDetails',
        refObj: this.$db.doc(`users/${val}`)
      });
    }
  },
  mounted() {
    this.$store.dispatch('bindRef', {
      field: 'currentItem',
      refObj: this.$db.doc(`items/${this.itemKey}`)
    });
  }
};
</script>

<style lang="scss">
.detailed-item {
  display: flex;
  padding: 50px 0 50px 50px;

  @media only screen and (max-width: 900px) {
    flex-direction: column-reverse;
    padding: 50px;
  }

  &__title {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0.5em 0;
  }

  &__subtitle {
    color: #777;
    margin-bottom: 10px;
  }

  &__request-button {
    margin: 20px 0 0;
  }

  &-info {
    flex-grow: 1;

    &__owner {
      background-color: #eee;
      padding: 20px 20px 20px 50px;
      margin-left: -50px;

      @media only screen and (max-width: 900px) {
        margin-right: -50px;
      }

      &-info {
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        vertical-align: top;

        .owner-title {
          font-weight: 700;
        }
      }
    }

    &__reviews {
      padding: 20px 20px 0 0;
    }
  }

  &-image {
    width: 33vw;
    max-width: 600px;

    @media only screen and (max-width: 900px) {
      width: 100vw;
      margin: -50px -50px 0 -50px;
    }
  }
}
</style>
