<template lang="pug">
    section
        md-tabs( 
            md-sync-route,
            md-alignment="centered",
            v-if="isTabsShowed"
        )
            md-tab( 
                id="first", 
                :md-label="first.label", 
                :to="first.to"
            )
            md-tab( 
                id="second", 
                :md-label="second.label", 
                :to="second.to"
            )
            md-tab( 
                id="third", 
                :md-label="third.label", 
                :to="third.to"
            )
        transition(name="fade", mode="out-in", appear)
            router-view(v-bind="{ requests, items, searches, showedTypes, isMobile }")
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    props: ['isMobile'],
    computed: {
        first() {
            return {
                label: this.isRequests ? 'Входящие' : 'Активные',
                to: this.isRequests ? '/requests/in' : '/items/active'
            };
        },
        second() {
            return {
                label: this.isRequests ? 'Исходящие' : 'В пользовании',
                to: this.isRequests ? '/requests/out' : '/items/in-use'
            };
        },
        third() {
            return {
                label: this.isRequests ? 'Завершенные' : 'В архиве',
                to: this.isRequests ? '/requests/done' : '/items/archived'
            };
        },
        isRequests() {
            return /requests/.test(this.$route.path);
        },
        isTabsShowed() {
            return this.$route.meta.tabs !== false;
        },
        showedTypes() {
            return this.$route.name !== 'finished'
                ? ['search', 'request']
                : ['request'];
        },
        ...mapGetters({
            requests: 'user/requests',
            items: 'user/items',
            searches: 'user/searches'
        })
    }
};
</script>
