<template lang="pug">
    section.login
        main-landing
        md-button.hidden(href="/api/auth/vkontakte", ref="loginButton")
        loader(v-if="isLoading")
</template>


<script>
import axios from 'axios';
import loader from '../components/loader.vue';
import mainLanding from '../components/mainLanding.vue';

export default {
    data: () => ({ isLoading: false }),
    components: { loader, mainLanding },
    mounted() {
        if (this.$route.query.token) {
            this.isLoading = true;
            this.$auth
                .signInWithCustomToken(this.$route.query.token)
                .then(() => {
                    this.isLoading = false;
                    this.$router.push('/home');
                })
                .catch(err => console.error(err));
        }
        if (this.$route.query.invite) {
            this.isLoading = true;
            axios
                .post('/api/verifyInvite', { invite: this.$route.query.invite })
                .then(() => {
                    const button = this.$refs.loginButton.$el.click();
                    console.log(button);
                })
                .catch(console.log);
        }
    }
};
</script>

<style lang="scss">
.login {
    display: flex;
    padding-left: 0;

    &-button {
        position: absolute;
        right: 30px;
    }
}
</style>
