<template lang="pug">
    section.profile-details
        h1.profile-details__title Настройки профиля
        section.profile-details__info
            section.profile-details__part
                form.verification-form(action="#", v-if="showPhoneForm")
                    h2 Пожалуйста укажите номер телефона
                    md-field
                        label Введите телефон
                        md-input(v-model="phone", name="phone", type="tel")
                    md-button.md-primary.md-raised#submit-phone(
                        ref="submitPhone",
                        @click="savePhone"
                    ) Сохранить

                md-list.md-double-line.profile-details__list
                    h3.profile-details__subtitle Персональная информация
                    md-list-item.profile-details__list-item(
                        v-if="currentUser && 'phone' in currentUser"
                    )
                        md-icon.md-primary phone
                        .md-list-item-text
                            span {{ currentUser.phone }}
                        md-button.md-icon-button.edit-button(
                            @click="showConfirmation = true"
                        ): md-icon.md-primary edit
                    md-divider(v-if="currentUser && 'phone' in currentUser && 'email' in currentUser")
                    md-list-item.profile-details__list-item
                        md-icon.md-primary email
                        .md-list-item-text
                            md-field.profile-details__input(v-if="isEmailEdit")
                                label Адрес электронной почты
                                md-input(v-model="email" name="email" type="email")
                            span(v-else) {{ currentUser && currentUser.email }}
                        md-button.md-icon-button(@click="saveEmail", v-if="isEmailEdit")
                            md-icon.md-primary save
                        md-button.md-icon-button(@click="isEmailEdit = false", v-if="isEmailEdit")
                            md-icon close
                        md-button.md-icon-button.edit-button(
                            @click="editEmail", v-else
                        ): md-icon.md-primary edit

                section.profile-details__invite(v-if="currentUser && currentUser.invitesCount > 0")
                    h2 Вы можете пригласить {{ currentUser.invitesCount }}&nbsp;друзей
                    md-field.profile-details__input
                        label Введите email
                        md-input(v-model="inviteMail" name="inviteMail" type="email")
                    md-button.md-primary.md-raised.send-button(@click="sendInvite") Отправить
            
            section.profile-details__part
                section.profile-details__deal-history
                    md-list.md-double-line.profile-details__list
                        h3 Последние операции
                        section(v-if="haveDeals")
                            md-subheader Входящие
                            history-list-item(
                                v-for="deal in incomingDeals",
                                :key="deal.id",
                                :user="deal.from",
                                :deal="deal",
                                @set-rating="setRating"
                            )
                            md-divider
                            md-subheader Исходящие
                            history-list-item(
                                v-for="deal in outgoingDeals",
                                :key="deal.id",
                                :user="deal.to",
                                :deal="deal",
                                @set-rating="setRating"
                            )
                        md-subheader(v-else) Тут пока пусто
        
        md-dialog.prompt-dialog(:md-active.sync="showCodeDialog")
            md-dialog-title Введите код подтверждения
            md-field.profile-details__input
                label Код подтверждения
                md-input(v-model="verificationCode" name="verificationCode" type="number")

            md-dialog-actions.prompt-dialog__actions
                md-button(@click="showCodeDialog = false") Отменить
                md-button.md-primary(@click="verifyCode") Подтвердить
                md-button.md-primary(@click="sendAgain", v-if="showSendAgain") Отправить код повторно

        set-rating-dialog(
            :isShowed.sync="showRatingDialog", 
            :showItemRating="showItemRating",
            @confirmed="confirmReview"
        )

        md-dialog-confirm(
            :md-active.sync="showConfirmation"
            md-title="Вы уверены?"
            md-content="Вам нужно будет заново подтвердить номер телефона"
            md-confirm-text="Ага"
            md-cancel-text="Может позже"
            @md-confirm="editPhone"
        )
</template>

<script>
import axios from 'axios';
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex';
import firebase, { Firebase } from '../firebase';
import historyListItem from '../components/historyListItem.vue';
import setRatingDialog from '../components/setRatingDialog.vue';

const phoneRegexp = /^\+7\d{10}$/;
const codeRegexp = /^\d{6}$/;

let delay;

export default {
  data: () => ({
    inviteMail: '',
    phone: '',
    email: '',
    verificationCode: '',
    recaptchaWidgetId: '',
    recaptchaVerifier: null,
    confirmationResult: null,
    showCodeDialog: false,
    showConfirmation: false,
    showRatingDialog: false,
    showSendAgain: false,
    isEmailEdit: false,
    dealInfo: {}
  }),
  props: ['isMobile'],
  computed: {
    ...mapState('user', {
      currentUser: 'profile',
      incomingDeals: 'incomingDeals',
      outgoingDeals: 'outgoingDeals',
      ratedDeals: 'ratedDeals'
    }),
    ...mapGetters({ currentDealStatus: 'user/currentDealStatus' }),
    emailIsValid() {
      return /@/.test(this.inviteMail);
    },
    codeIsValid() {
      return codeRegexp.test(this.verificationCode);
    },
    matchedPhone() {
      const matched = this.phone.match(/\d/g);
      if (['7', '8'].includes(matched[0])) matched[0] = '+7';
      else matched.unshift('+7');
      return matched.join('');
    },
    phoneIsValid() {
      return phoneRegexp.test(this.matchedPhone);
    },
    showPhoneForm() {
      return (
        this.currentUser &&
        'id' in this.currentUser &&
        !('phone' in this.currentUser)
      );
    },
    showItemRating() {
      return this.currentDealStatus === 'incoming';
    },
    haveDeals() {
      return this.incomingDeals.length || this.outgoingDeals.length;
    }
  },
  methods: {
    sendInvite() {
      if (this.emailIsValid) {
        axios
          .post('/api/sendInvite', {
            sender: this.currentUser.id,
            email: this.inviteMail
          })
          .then(() => {
            this.inviteMail = '';
            this.setSnackbarMessage('Приглашение успешно отправлено!');
          })
          .catch(() =>
            this.setSnackbarMessage(
              'Не получилось отправить приглашение. Попробуйте чуть позже.'
            )
          );
      } else
        this.setSnackbarMessage('Неверный формат адреса электронной почты');
    },
    recaptchaCallback(response) {
      if (this.phoneIsValid) {
        this.$auth.currentUser
          .linkWithPhoneNumber(this.matchedPhone, this.recaptchaVerifier)
          .then(confirmationResult => {
            this.confirmationResult = confirmationResult;
            this.showVerificationCode = true;
          })
          .catch(error => {
            this.setSnackbarMessage(
              'Произошла ошибка. Попробуйте повторить позднее.'
            );
          });
      } else this.setSnackbarMessage('Неверный формат телефона');
    },
    setRecaptcha() {
      if (
        typeof grecaptcha !== 'undefined' &&
        typeof this.recaptchaWidgetId !== 'undefined'
      ) {
        // eslint-disable-next-line no-undef
        grecaptcha.reset(this.recaptchaWidgetId);
      }

      this.recaptchaVerifier = new Firebase.auth.RecaptchaVerifier(
        'submit-phone',
        {
          size: 'invisible',
          callback: this.recaptchaCallback
        }
      );

      this.recaptchaVerifier.render().then(widgetId => {
        this.recaptchaWidgetId = widgetId;
      });
    },
    verifyCode() {
      this.showCodeDialog = false;
      if (!this.codeIsValid) {
        this.setSnackbarMessage('Неверный формат кода подтверждения');
        return false;
      }
      return this.confirmationResult
        .confirm(this.verificationCode)
        .then(() => {
          this.$db
            .doc(`users/${this.currentUser.id}`)
            .update({ phone: this.matchedPhone });
          this.setSnackbarMessage('Номер успешно подтвержден');
          this.verificationCode = '';
          return this.$db.collection('phones').get();
        })
        .then(snap => {
          const phones = snap.data()
            ? snap.data().concat([this.matchedPhone])
            : [this.matchedPhone];
          this.$db.collection('phones').set(phones);
        })
        .catch(error => {
          this.setSnackbarMessage(
            'Произошла ошибка. Попробуйте повторить позднее.'
          );
        });
    },
    editPhone() {
      this.$auth.currentUser.unlink(
        Firebase.auth.PhoneAuthProvider.PROVIDER_ID
      );
      this.phone = this.currentUser.phone;
      this.$db
        .doc(`users/${this.currentUser.id}`)
        .update({ phone: Firebase.firestore.FieldValue.delete() });
      this.$nextTick(() => this.setRecaptcha());
    },
    savePhone() {
      if (!phoneRegexp.test(this.matchedPhone)) {
        return this.setSnackbarMessage('Неверный формат телефона.');
      }
      if (!this.showCodeDialog) this.showCodeDialog = true;
    },
    editEmail() {
      this.email = this.currentUser && this.currentUser.email;
      this.isEmailEdit = true;
    },
    saveEmail() {
      axios
        .post('/api/sendMailVerification', {
          email: this.email,
          sender: this.currentUser.id
        })
        .then(() => {
          this.isEmailEdit = false;
          this.setSnackbarMessage(
            'На указанный вами адрес отправлено письмо. Почта изменится после подтверждения адреса.'
          );
        })
        .catch(error =>
          this.setSnackbarMessage(
            'Произошла ошибка. Попробуйте повторить позднее.'
          )
        );
    },
    sendAgain() {
      this.$refs.submitPhone.$el.click();
      this.showSendAgain = false;
      if (delay) clearTimeout(delay);
      this.$nextTick(
        () => (delay = setTimeout(() => (this.showSendAgain = true), 10000))
      );
    },
    setRating(dealInfo) {
      this.setUserField({
        field: 'currentDealKey',
        value: dealInfo.dealId
      });
      this.dealInfo = dealInfo;
      this.showRatingDialog = true;
    },
    confirmReview({ itemRating, userRating, comment, date }) {
      if ((!itemRating && this.showItemRating) || !userRating) {
        return this.setSnackbarMessage('Кажется, вы забыли поставить оценку.');
      }
      const {
        prevUserRating,
        prevItemRating,
        prevUserReviewsCount,
        prevItemReviewsCount
      } = this.dealInfo;
      this.$db
        .collection('reviews')
        .add({
          from: this.currentUser.id,
          to: this.dealInfo.user,
          deal: this.dealInfo.dealId,
          item: this.dealInfo.item,
          prevUserRating,
          prevUserReviewsCount,
          prevItemRating,
          prevItemReviewsCount,
          userRating,
          itemRating,
          comment,
          date
        })
        .then(() => {
          this.showRatingDialog = false;
          this.setUserField({
            field: 'ratedDeals',
            value: this.ratedDeals.concat([dealInfo.dealId])
          });
        });
    },
    ...mapMutations(['setSnackbarMessage']),
    ...mapMutations({ setUserField: 'user/setField' }),
    ...mapActions('user', ['getDealStatus'])
  },
  components: { historyListItem, setRatingDialog },
  watch: {
    showSnackbar(val) {
      if (!val) this.snackbarMessage = '';
    },
    showPhoneForm(val) {
      if (val) this.$nextTick(() => this.setRecaptcha());
    },
    showCodeDialog(val) {
      this.$nextTick(() => {
        if (val) delay = setTimeout(() => (this.showSendAgain = true), 2000);
        else if (delay) clearTimeout(delay);
      });
    }
  },
  beforeRouteLeave(to, from, next) {
    if (!this.currentUser.phone && to.name !== 'Login') {
      this.setSnackbarMessage('Подтвердите номер телефона для полного доступа');
      next(false);
    } else next();
  }
};
</script>

<style lang="scss" scoped>
.profile-details {
  padding: 50px 50px 50px 400px;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media screen and (max-width: 960px) {
    padding: 30px;
  }

  &__info {
    display: flex;
    padding-left: 50px;

    @media screen and (max-width: 960px) {
      flex-direction: column;
      padding-left: 30px;
    }
  }

  &__part {
    flex: 1;
    margin-right: 50px;

    @media screen and (max-width: 960px) {
      margin-right: 0;
    }
  }

  &__list {
    background-color: transparent;
    max-width: 500px;

    &-item:hover .edit-button {
      opacity: 1;
    }

    .edit-button {
      opacity: 0;
      transition: opacity 0.1s;

      @media screen and (max-width: 960px) {
        opacity: 1;
      }
    }
  }

  &__title {
    display: inline-flex;
    padding-left: 50px;

    @media screen and (max-width: 960px) {
      padding-left: 30px;
    }
  }

  &__invite {
    background-color: #eee;
    margin-left: -50px;
    padding: 50px;

    @media screen and (max-width: 960px) {
      padding: 30px;
      margin: 0 -30px;
    }
  }

  &__input {
    max-width: 500px;
  }

  .verification-form {
    background-color: rgb(147, 185, 255);
    padding: 50px;
    color: white;
  }
}

.prompt-dialog {
  padding: 20px;
  max-width: 400px;

  &__actions {
    flex-wrap: wrap;
  }

  .profile-details__input {
    margin: 4px 25px 24px;
    width: calc(100% - 50px);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.actions-enter,
.actions-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.actions-leave-active {
  position: absolute;
}
</style>
