<template lang="pug">
    section.show-requests(:class="{ isMobile }")
        md-button.md-raised.md-primary.fullwidth( 
            v-if="isMobile && isCurrentUser && $route.name === 'outgoing'",
            @click="$router.push('/requests/add')"
        ) Добавить запрос или поиск
        .show-requests__description(v-if="!requests.length && !searches.length") {{ description }}
        h2.show-requests__subtitle(v-if="showRequests && showSearches && requests.length") Запросы
        .show-requests__wrapper(v-if="showRequests")
            request-card(
                v-for="request in requests", 
                :key="request.id",
                :request="request",
                :isMobile="isMobileDevice"
            )
        h2.show-requests__subtitle(v-if="showRequests && showSearches && searches.length") Поиски
        .show-requests__wrapper(v-if="showSearches")
            search-card(
                v-for="request in currentSearches",
                :key="request.id",
                :request="request",
                :isCurrentUser="isCurrentUser",
                :currentUser="userKey",
                :isMobile="isMobileDevice",
                @offer-item="showOfferDialog",
                @show-offers="showOffers"
            )
        offer-dialog(
            :isShowed.sync="isOfferDialogShowing", 
            :search="search",
            @offers-updated="updateSearch"
        )
        md-dialog.offer-select-dialog(
            @md-closed="selectedItem = null"
            :md-active.sync="isOfferSelectDialogShowed"
        )
            md-dialog-title Выберите предложение
            md-dialog-content
                .offer-select-dialog__offer(v-for="offer in offers", :key="offer.itemKey")
                    label
                        md-radio.hidden(v-model="selectedItem", :value="offer.itemKey")
                        md-avatar.md-large(
                            :class="{'md-avatar-icon md-primary': selectedItem === offer.itemKey}"
                        ) 
                            img(:src="offer.image", v-if="selectedItem !== offer.itemKey")
                            md-icon(v-else) done
                    .offer-select-dialog__offer-info
                        a.offer-select-dialog__offer-title(
                            :href="`/items/${offer.itemKey}`",
                            target="blank"
                        ) {{ offer.title }}
            md-dialog-actions(v-if="isCurrentUser")
                md-button.md-primary(
                    :disabled="selectedItem === null",
                    @click="selectOffer"
                ) Выбрать
                md-button(
                    @click="isOfferSelectDialogShowed = false"
                ) Отмена
            md-dialog-actions(v-else)
                md-button.md-primary(
                    :disabled="selectedItem === null",
                    @click="deleteOffer"
                ) Удалить
                md-button(
                    @click="isOfferSelectDialogShowed = false"
                ) Отмена

</template>

<script>
import { mapGetters } from 'vuex';
import { updateSearch } from '../firebase'
import requestCard from '../components/requestCard.vue';
import searchCard from '../components/searchCard.vue';
import offerDialog from '../components/offerDialog.vue';

const description = {
    outgoing: 'Здесь будут находится ваши запросы к другим людям и поиски вещей.',
    incoming: 'Здесь вы найдете запросы участников коммуны к вам, а также поиски ваших друзей.',
    finished: 'Здесь вы найдете все ваши завершенные сделки.'
};

export default {
    props: {
        requests: {
            type: Array,
            default: () => []
        },
        searches: {
            type: Array,
            default: () => []
        },
        items: Array,
        showedTypes: {
            type: Array,
            default: () => ['request']
        },
        isCurrentUser: {
            type: Boolean,
            default: true
        },
        isMobile: Boolean
    },
    data: () => ({
        selectedItem: null,
        isOfferDialogShowing: false,
        isOfferSelectDialogShowed: false,
        searchKey: '',
        search: {},
        mappedSearches: [],
        offers: []
    }),
    computed: {
        ...mapGetters({
            userKey: 'user/key',
            isMobileDevice: 'isMobileDevice'
        }),
        types() {
            return this.showedTypes.map(type => type.toLowerCase());
        },
        showRequests() {
            return this.types.includes('request');
        },
        showSearches() {
            return this.types.includes('search');
        },
        detailedItem() {
            return this.offers.filter(offer => offer.itemKey === this.selectedItem)[0];
        },
        currentSearches() {
            return this.$route.name === 'outgoing'
                ? this.searches
                : this.mappedSearches;
        },
        description() { return description[this.$route.name]; }
    },
    methods: {
        showOfferDialog(key) {
            this.searchKey = key;
            this.search = this.currentSearches.find(search => search.id === key);
            this.isOfferDialogShowing = true;
        },
        showOffers({ offers, id: searchKey }) {
            this.isOfferSelectDialogShowed = true;
            this.offers = offers;
            this.searchKey = searchKey;
        },
        selectOffer() {
            const request = {
                date: Date.now(),
                from: this.userKey,
                owner: this.detailedItem.owner,
                item: this.detailedItem.itemKey,
                status: 'created',
                type: 'request'
            };
            this.$db.doc(`requests/${this.searchKey}`).set(request);
            this.isOfferSelectDialogShowed = false;
        },
        deleteOffer() {
            const offers = this.offers.filter(offer => offer.itemKey !== this.selectedItem);
            this.$db
                .doc(`requests/${this.searchKey}`)
                .update({ offers })
                .then(() => {
                    this.updateSearch(this.searchKey);
                    this.isOfferSelectDialogShowed = false;
                });
        },
        getSearches(arr) {
            return Promise.all(arr.map(searchKey => this.$db.doc(`requests/${searchKey}`).get())).then(res =>
                res.map(snap => Object.assign({ id: snap.id }, snap.data())));
        },
        updateSearch,
        setMappedSearches() {
            if (typeof this.searches[0] === 'string') {
                this.getSearches(this.searches).then(arr => (this.mappedSearches = arr));
            } else this.mappedSearches = this.searches;
        }
    },
    components: { requestCard, searchCard, offerDialog },
    watch: {
        searches(val) {
            if (!val || !val.length) this.mappedSearches = [];
            else this.setMappedSearches();
        }
    },
    mounted() {
        this.setMappedSearches();
    }
};
</script>

<style lang="scss" scoped>
.show-requests {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  &__subtitle {
    padding: 20px;
    font-weight: 100;
    border-bottom: 1px solid #ddd;
    flex-grow: 1;
    flex-basis: 100%;
  }

  &__description {
    font-size: 2em;
    line-height: 1.4;
    color: #999;
    text-align: center;
    width: 100%;
    white-space: pre-wrap;
    margin-top: 50px;
  }

  &.isMobile {
    padding: 10px 10px 50px;
  }
}

.offer-select-dialog {
  width: 500px;

  &__offer {
    margin-bottom: 10px;
    display: flex;

    .md-avatar {
      margin: 0;
      cursor: pointer;
    }

    &-title {
      font-size: 18px;
      display: flex;
      margin: 10px;
    }
  }
}
</style>


