<template lang="pug">
    section.items(:class="{ isMobile }")
        md-button.md-raised.md-primary.fullwidth( 
            v-if="isMobile && isCurrentUser && $route.name === 'active'",
            @click="$router.push('/items/add')"
        ) Добавить предложение
        itemCard(
            v-if="items.length"
            v-for="item in items", 
            :key="item.id", 
            :item="item",
            :itemsStatus="showedStatus",
            :setStatus="setStatus",
            :showDetails="showDetails",
            :sendRequest="sendRequest",
            :isCurrentUser="isCurrentUser",
            :isMobile="isMobileDevice",
            :nope="nope"
        )
            star-rating(:rating="item.rating", :star-size="20", :show-rating="false", read-only, slot="stars")
        .items__description(v-if="!items.length") {{ description }}
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import starRating from 'vue-star-rating';
import axios from 'axios';
import itemCard from '../components/itemCard.vue';
import { sendRequest } from '../firebase';

const description = {
    active: `Здесь будут представлены ваши активные предложения.\nВещи, которыми вы готовы делиться прямо сейчас.`,
    inUse: 'Это раздел предложений в пользовании.\nЗдесь будут вещи, которыми вы уже с кем-то поделились.',
    archived: 'Архивные предложения.\nСюда попадают снятые с публикации вещи.'
};

export default {
    data: () => ({
        owner: {}
    }),
    firestore() {
        return {
            owner: this.$db.collection('users').doc(this.detailedId)
        };
    },
    props: {
        items: Array,
        isMobile: Boolean,
        detailedId: {
            type: String,
            default: 'none'
        },
        isCurrentUser: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        ...mapGetters({
            showedStatus: 'user/showedStatus',
            userKey: 'user/key',
            isMobileDevice: 'isMobileDevice'
        }),
        ...mapState("user", { currentUser: "profile" }),
        showAddButton() {
            return this.isMobile && this.isCurrentUser;
        },
        description() { return description[this.showedStatus]; }
    },
    components: { itemCard, starRating },
    methods: {
        setStatus({ key, status }) {
            this.$db.doc(`items/${key}`).update({ status });
        },
        showDetails(key) {
            this.$router.push(`/items/${key}`);
        },
        sendRequest(itemKey) {
            this.$db.doc(`items/${itemKey}`).get().then(snap => {
                const item = snap.data();
                const html = `<h3>Привет!</h3>
                <p>Вам отправлен запрос на пользование <b>${item.title}</b> от <i>${this.currentUser.displayName}</i>.</p>

                <p><i>С уважением, команда Коммуны.</i></p>`;
                axios.post('/api/sendNotification', { email: this.owner.email, html })
                return sendRequest({
                    itemKey,
                    userKey: this.userKey,
                    owner: this.detailedId
                });
            })
        },
        nope() {}
    }
};
</script>

 <style lang="scss">
.items {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;

    &.isMobile {
        padding: 10px 10px 50px;
    }

    &__description {
        font-size: 2em;
        line-height: 1.4;
        color: #999;
        text-align: center;
        width: 100%;
        white-space: pre-wrap;
        margin-top: 50px;
    }
}
</style>
