<template lang="pug">
  .stream
    h2.stream__subtitle Последние предложения
    .stream__content
      stream-card(
        v-for="item in lastFiveItems" 
        :key="item.id" 
        :author="item.owner"
        :date="item.created"
        :item="item"
      )
    h2.stream__subtitle Последние поиски
    .stream__content
      stream-card(
        v-for="item in lastFiveSearches" 
        :key="item.id" 
        :author="item.from"
        :date="item.date"
        :item="item"
        type="search"
      )
</template>

<script>
import streamCard from '../components/streamCard.vue'
import { mapGetters } from 'vuex'

export default {
  components: { streamCard },
  computed: {
    ...mapGetters('user', ['lastFiveItems', 'lastFiveSearches'])
  }
}
</script>

<style lang="scss" scoped>
  .stream {
    &__content {
      margin: 30px;
      display: flex;
      flex-wrap: wrap;
      align-self: flex-start;
      
      &::after {
        content: '';
        flex-grow: 111;
      }
    }

    &__subtitle {
      margin-left: 30px;
      padding-bottom: 20px;
      font-weight: 100;
      border-bottom: 1px solid #ddd;
      flex-grow: 1;
      flex-basis: 100%;
    }
  }
</style>
