<template lang="pug">
    section.user-profile
        user-info(:id="id")
        md-tabs( 
            :md-active-tab="$route.name",
            md-alignment="centered",
            class="user-profile__tabs"
        )
            md-tab(to="items", id="profileItems", md-label="Предложения")
            md-tab(to="requests", id="profileRequests", md-label="Запросы")
        router-view(v-bind="{ items, searches, showedTypes, isMobile, detailedId: id }")
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import userInfo from '../components/userInfo.vue';

export default {
    data: () => ({ showedTypes: ['search'] }),
    props: {
        id: String,
        isMobile: Boolean
    },
    computed: {
        ...mapState({ items: 'detailedUserItems' }),
        ...mapGetters({ searches: 'detailedUserSearches' })
    },
    components: { userInfo }
};
</script>

<style lang="scss">
.user-profile {
    &__tabs {
        @media screen and (min-width: 600px) {
            margin: 0 20px;
        }
    }
}
</style>
