<template lang="pug">
    md-drawer(
        ref="drawer",
        md-permanent="full",
        :md-fixed="isMobile || isTablet",
        :md-persistent="isTablet ? 'mini' : null"
        :md-active.sync="showDrawer",
        @md-closed="$emit('closed')",
        :class="{ isMobile, sticked: isDrawerSticked }"
    )
        md-list(@click.native="showDrawer = false")
            md-list-item.list-item(v-show="showInnerElements")
                profile(:current-user="currentUser", :is-mobile="isMobile || isTablet")
            md-divider.md-inset(divider)
            md-list-item.list-item(to="/details")
                md-icon account_circle
                span.md-list-item-text Детали аккаунта
            md-list-item.list-item(to="/items")
                md-icon public
                span.md-list-item-text Предложения
                md-button.md-icon-button(
                    to="/items/add", 
                    v-if="showInnerElements"
                )
                    md-icon.add-icon add
            md-list-item.list-item(to="/requests")
                md-icon autorenew
                span.md-list-item-text Запросы
                md-button.md-icon-button(
                    to="/requests/add", 
                    v-if="showInnerElements"
                )
                    md-icon.add-icon add
            md-list-item.list-item(@click="logout")
                md-icon close
                span.md-list-item-text Выход из аккаунта
        md-button.md-icon-button.close-icon(
            v-if="isMobile"
            @click="showDrawer = false"
        )
            md-icon keyboard_arrow_left
</template>

<script>
import profile from './mainProfile.vue';

export default {
    props: ['currentUser', 'isShowed', 'device'],
    data() {
        return { showDrawer: this.isShowed, isDrawerSticked: false };
    },
    computed: {
        isMobile() { return this.device === 'mobile'; },
        isTablet() { return this.device === 'tablet'; },
        showInnerElements() { return this.showDrawer || this.device === 'desktop'; }
    },
    components: { profile },
    methods: {
        logout() {
            this.$auth
                .signOut()
                .then(() => this.$router.push('/'))
                .catch(console.error);
        }
    },
    watch: {
        isShowed(val) {
            this.showDrawer = val;
        }
    },
    mounted() {
        document.addEventListener('scroll', () => {
            const { top: drawerTop } = this.$refs.drawer.$el.getBoundingClientRect();
            const { top: mainTop } = document.getElementById('app').getBoundingClientRect();
            const toolbarHeight = this.device === 'desktop' ? 128 : 48;
            this.isDrawerSticked = drawerTop <= 0 && mainTop <= -toolbarHeight;
        });
    }
};
</script>

<style lang="scss" scoped>
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}
</style>

<style lang="scss">
.list-item {
    .md-list-item-content {
        justify-content: flex-start;
        font-size: 16px;
    }

    .router-link-active {
        background-color: #448aff;
        
        .md-list-item-text { 
            color: white; 
        }
        
        .md-icon { 
            color: white; 
        }
    }
}

.md-permanent-full:not(.md-persistent-mini):not(.isMobile) {
    .list-item {
        .router-link-active {
            background: linear-gradient(to right, #448aff 56px, white 56px);
            
            .md-list-item-text { 
                color: #448aff; 
            }

            .md-icon.add-icon { 
                color: var(--md-theme-default-icon-on-background, rgba(0,0,0,0.54));
            }

            &.md-icon-button .md-icon.add-icon { 
                color: white;
            }
        }
    }
}

.md-drawer.md-persistent-mini.md-active {
    z-index: 99;

    &.md-fixed {
        position: fixed;
    }
}

.md-list.md-theme-default .md-list-item-container.router-link-exact-active:hover {
    background-color: #448aff !important;
}

.sticked {
    position: fixed !important;
    top: 0;
}
</style>


