<template lang="pug">
    md-list-item(md-expand)
        md-avatar
            router-link.avatar-link(
                tag="img", 
                :src="photo", 
                :to="`/profile/${detailedUser.id}`"
            )
        .md-list-item-text
            .history-list__item-link: a(:href="`/items/${detailedItem.id}`", @click.stop="") {{ detailedItem.title }} 
            .history-list__user-link: a.history-list__user-link(:href="`/profile/${detailedUser.id}`", @click.stop="") {{ detailedUser.displayName }}

        md-button.md-icon-button.md-list-action.set-rating-button(
            v-if="!deal.isRated && !needHide", 
            @click.stop="$emit('set-rating', ratingData)"
        ): md-icon.need-rating star
        md-list.expanded-part(slot="md-expand")
            md-list-item.md-inset 
                .md-list-item-text 
                    span {{ dates }}
                    span Интервал пользования
</template>

<script>
import { format } from 'date-fns';
import ru from 'date-fns/locale/ru';
import { mapState } from 'vuex';

export default {
  data: () => ({
    detailedUser: {},
    detailedItem: {}
  }),
  props: {
    user: String,
    deal: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    dates() {
      return `${this.formattedStart} — ${this.formattedEnd}`;
    },
    photo() {
      return (
        this.detailedUser.photos &&
        this.detailedUser.photos[0] &&
        this.detailedUser.photos[0].value
      );
    },
    formattedStart() {
      return format(new Date(this.deal.startDate), 'DD.MM HH:MM', {
        locale: ru
      });
    },
    formattedEnd() {
      return format(new Date(this.deal.endDate), 'DD.MM HH:MM', {
        locale: ru
      });
    },
    ratingData() {
      return {
        dealId: this.deal.id,
        user: this.user,
        prevUserRating: this.detailedUser.rating || 0,
        prevUserReviewsCount: this.detailedUser.reviewsCount || 0,
        item: this.detailedItem.id,
        prevItemRating: this.detailedItem.rating || 0,
        prevItemReviewsCount: this.detailedItem.reviewsCount || 0
      };
    },
    needHide() {
      return this.ratedDeals.includes(this.deal.id);
    },
    ...mapState('user', { ratedDeals: 'ratedDeals' })
  },
  firestore() {
    return {
      detailedUser: this.$db.collection('users').doc(this.user),
      detailedItem: this.$db.collection('items').doc(this.deal.item)
    };
  }
};
</script>

<style lang="scss" scoped>
.avatar-link {
  cursor: pointer;
}

.history-list {
  &__user-link {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  &__item-link {
    width: calc(100% - 20px);
  }
}

.set-rating-button {
  position: absolute;
  right: 50px;

  .md-icon.need-rating {
    animation: pulse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
}

.expanded-part {
  background-color: transparent;

  .md-list-item-container {
    font-size: 12px;
    color: #111;
  }
}

@keyframes pulse {
  0% {
    color: rgba(0, 0, 0, 0.57);
  }
  10% {
    color: #448aff;
  }
  20% {
    color: rgba(0, 0, 0, 0.57);
  }
  100% {
    color: rgba(0, 0, 0, 0.57);
  }
}
</style>
