<template lang="pug">
    section.add-item(:class="{ 'small-mode': small }")
        slot
        h1(v-if="$slots.title"): slot(name="title")
        form(
            name="addForm",
            @submit.prevent="submit"
        )
            md-field
                label Название
                md-input(v-model="title", name="title")
            md-field
                label Описание
                md-textarea(v-model="description", md-autogrow, name="description")
            .add-item__category-wrapper(:class="{ 'column-direction': small || isMobile }")
                md-field
                    label Категория
                    md-select(v-model="category", name="category")
                        md-option(
                            v-for="cat in categories",
                            :key="cat.id",
                            :value="cat.id"
                        ) {{ cat.name }}
                md-field.category-details(v-if="category === 'other'")
                    label Уточните категорию
                    md-input(v-model="anotherCategory", name="anotherCategory")
            md-field
                label Фотографии
                md-file( 
                    accept="image/*", 
                    v-model="photos", 
                    multiple, 
                    name="photos"
                )
            input(type="hidden", name="user", :value="currentUser.id")
            br
            md-button( 
                type="submit" 
                :class="['md-primary md-raised', {'fullwidth': isMobile}]"
            ) Сохранить
            md-button( 
                :class="['md-accent', {'fullwidth': isMobile}]" 
                @click="dismiss"
            ) Отменить
            loader(v-if="isLoading")
</template>

<script>
import axios from 'axios';
import { mapState } from 'vuex';
import loader from './loader.vue';

export default {
  data: () => ({
    title: '',
    description: '',
    photos: '',
    isLoading: false,
    category: '',
    anotherCategory: ''
  }),
  props: {
    isMobile: Boolean,
    submitUrl: String,
    submitRedirect: String,
    dismissRedirect: String,
    small: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapState('user', { currentUser: 'profile' }),
    ...mapState(['categories'])
  },
  methods: {
    clearForm() {
      this.title = '';
      this.description = '';
      this.photos = '';
      this.category = '';
    },
    submit() {
      if (!this.category || !this.title || !this.description || !this.photos) {
        return this.$store.commit(
          'setSnackbarMessage',
          'Все поля обязательны для заполнения.'
        );
      }
      if (this.category === 'other' && !this.anotherCategory) {
        return this.$store.commit(
          'setSnackbarMessage',
          'Пожалуйста, уточните категорию.'
        );
      }
      this.isLoading = true;
      // eslint-disable-next-line no-undef
      const formData = new FormData(document.forms.addForm);
      formData.append(
        'category',
        this.category === 'other' ? this.anotherCategory : this.category
      );
      formData.append('user_name', this.currentUser.displayName);
      formData.append('user_id', this.currentUser.id);

      axios
        .post(this.submitUrl, formData, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
        .then(({ data: { id } }) => {
          this.isLoading = false;
          this.clearForm();
          this.$emit('submit', id);
        });
    },
    dismiss() {
      this.clearForm();
      this.$emit('dismiss');
    }
  },
  components: { loader }
};
</script>

<style lang="scss">
.add-item {
  padding: 50px;

  &.small-mode {
    padding: 20px;
    margin-bottom: 70px;
  }

  &__content {
    display: flex;
  }

  &__category-wrapper {
    display: flex;

    &.column-direction {
      flex-direction: column;

      .category-details {
        margin-left: 0px;
      }
    }

    .category-details {
      margin-left: 10px;
    }
  }

  .md-accent.fullwidth {
    margin-left: 8px;
  }
}
</style>

