<template lang="pug" functional>
    v-touch.item-card(
        tag="md-card"
        :class="{ isMobile: props.isMobile }"
        md-with-hover,
        @click.native="props.showDetails(props.item.id)"
        @swiperight="props.nope"
        @swipeleft="props.nope"
        :swipe-options="{ direction: 'horizontal', threshold: 10 }"
    )
        md-ripple
            md-card-media
                img(
                    :src="props.item && props.item.images && props.item.images[0].thumb",
                    :alt="props.item.title"
                )
            md-card-header
                .md-title {{ props.item.title }}
                slot(name="stars")
            md-card-content {{ props.item.description }}
            md-card-actions.item-card__actions(v-if="props.itemsStatus !== 'inUse'")
                md-button(
                    v-if="props.itemsStatus === 'active'",
                    @click.stop="props.setStatus({ key: props.item.id, status: 'archived' })"
                ) В архив
                md-button(
                    v-else-if="props.itemsStatus === 'archived'",
                    @click.stop="props.setStatus({ key: props.item.id, status: 'active' })"
                ) Активировать
                md-button(
                    v-else-if="!props.isCurrentUser",
                    @click.stop="props.sendRequest(props.item.id)"
                ) Отправить запрос
</template>

<style lang="scss">
.item-card {
    flex-basis: 250px;
    margin: 10px;
    flex-grow: 1;
    max-width: 400px;

    &:hover .item-card__actions {
        transform: translateY(0);
        opacity: 1;
    }

    &__actions {
        position: absolute;
        width: 100%;
        top: 0;
        background-color: rgba($color: #fff, $alpha: 0.9);
        opacity: 0;
        transform: translateY(-50px);
        transition: all 0.3s;
    }

    &.isMobile .item-card__actions {
        position: relative;
        opacity: 1;
        transform: translateY(0);
    }
}
</style>

