<template lang="pug">
    .overlay
        md-progress-spinner(md-mode="indeterminate")
</template>

<style lang="scss" scoped>
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba($color: #fff, $alpha: 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

