<template lang="pug" functional>
    section.profile(:class="{ isMobile: props.isMobile }")
        .profile-image(
            :style="{ backgroundImage: `url(${ props.currentUser && props.currentUser.photos && (props.currentUser.photos[1] && props.currentUser.photos[1].value || props.currentUser.photos[0] && props.currentUser.photos[0].value) })` }"
        )
        h1.profile-title(v-if="props.currentUser") {{ props.currentUser.displayName }}
</template>

<style lang="scss">
.profile {
  width: 100%;
  height: 100%;
  padding: 20px 50px;

  &:not(.isMobile) {
    @media screen and (max-height: 750px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;
    }

    .profile-image {
      @media screen and (max-height: 750px) {
        width: 100px;
        height: 100px;
        margin-right: 20px;
        padding-top: 0;
        flex-shrink: 0;
      }
    }

    .profile-title {
      @media screen and (max-height: 750px) {
        text-align: left;
      }
    }
  }

  &-image {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    border-radius: 50%;
  }

  &-title {
    font-size: 2rem;
    text-align: center;
    margin: 22px 0 21px;
    line-height: 2rem;
    white-space: normal;
  }
}
</style>
