<template lang="pug">
    section.main-landing
        .step.what-it
            .what-it__wrapper
                span.what-it__question 
                    span.what-it__question-text Что это?
                span.what-it__answer
                    span.what-it__question-text Сервис для совместного использования вещей. Вы делитесь своими вещами и получаете возможность пользоваться предложениями других участников сообщества. Только для честных людей. 
        .step
            parallax.why-it__parallax(fixed)
                .why-it__wrapper
                    span.why-it__question Зачем это?
                    span.why-it__answer У каждого из нас есть вещи, которыми мы пользуемся редко или не пользуемся вообще, а продавать или выкидывать - жалко. Обычно они лежат на балконе / в кладовке / на чердаке и покрываются пылью. Но вокруг вас есть люди, которым эта вещь нужна на пару денй. Палатка, чтоб сходить в поход. Метровый бур, чтоб протянуть провод между комнатами. Или что-то еще, что вам не нужно, но нужно кому-то другому. Вы можете поделиться этой вещью, а в ответ попросить что-то, что нужно вам. 
                    .why-it
        .step.how-it
            .how-it__question Как этим пользоваться?
            md-steppers.how-it__answer(:md-active-step.sync="active" md-alternative)
                md-step(id="first" md-label="Присоединяйся" :md-done.sync="first")
                    p 
                        b Коммуна
                        | - это закрытый проект, то есть для того, чтобы присоединиться у вас должно быть приглашение от одного из участников. Если приглашения нет, можете написать на 
                        a(href="mailto:communapost@gmail.com") communapost@gmail.com. 
                        | В письме обязательно укажите ссылку на свой аккаунт ВКонтакте. 
                    p После того, как вы получите инвайт - вам будет доступна вся функциональность приложения.                    
                    md-button(class="md-raised md-primary" @click="setDone('first', 'second')") Дальше

                md-step(id="second" md-label="Делись" :md-done.sync="second")
                    p Итак, вы зарегистрировались и теперь можете добавить в проект вещи, которыми готовы поделиться с друзьями. Вам достаточно выбрать в меню пункт 
                        b Предложения 
                        | и нажать на икноку 
                        md-icon add
                    p Все ваши предложения будут доступны для запросов другими пользователями. Но вы можете выбирать, кому давать в пользование вещь, а кому отказать. Для оценки надежности пользователя в приложении существует система рейтинга. 
                    md-button(class="md-raised md-primary" @click="setDone('second', 'third')") Дальше

                md-step(id="third" md-label="Получай" :md-done.sync="third")
                    p И, наконец, вы можете запрашивать у других пользователей вещи, которыми они готовы поделиться. Но это еще не все! Вы можете создавать запросы вещей, которые не выложены для общего доступа. При этом создается новый 
                        b Поиск, 
                        | который появится в ленте запросов у ваших друзей. А также его будут видеть все, кто заходит в ваш профиль.
                    p У проекта есть свой телеграм-канал, где публикуются все новые предложения и поиски, а также группа ВКонтакте для общения и обсуждения всех вопросов, касающихся проекта. Ссылки на ресурсы вы сможете найти после регистрации на странице с информацией о проекте.

</template>

<script>
  import Parallax from 'vue-parallaxy'
  export default {
    data: () => ({
      active: 'first',
      first: false,
      second: false,
      third: false
    }),
    methods: {
        setDone (id, index) {
            this[id] = true

            this.secondStepError = null

            if (index) {
            this.active = index
            }
        },
    },
    components: {
      Parallax
    }
}
</script>

<style lang="scss">
    .main-landing {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .step {
        height: 100vh;
        display: flex;

        .md-stepper-content {
            max-width: 600px;
            margin: auto;
        }
    }

    .what-it {
        background: url('../assets/logo.svg') #D8D8D8;
        background-size: 20%;
        height: 100vh;

        &__wrapper {
            margin: auto;
            position: sticky;
            color: white;
            top: 0;
            display: flex;
        }

        &__question {
            font-size: 3em;
            padding: 100px;
            border-right: 1px solid white;
            flex-shrink: 0;

            &-text {
                padding: 30px;
                background: #CCC;
            }
        }

        &__answer {
            padding: 0;
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 680px) {
            &__wrapper {
                flex-direction: column;
                align-items: center;
            }

            &__question {
                border-right: none;
                padding: 100px 0;
            }
        }
    }

    .why-it {
        background: url('../assets/back.jpg') center center no-repeat green;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;

        &__wrapper {
            background: rgba(0, 150, 0, .7);
            position: absolute;
            top: 40vh;
            color: white;
            display: flex;
            flex-direction: column;
            padding: 50px;
        }

        &__question {
            font-size: 3em;
            line-height: 1;
            color: white;
            padding: 100px 50px 50px;
            flex-shrink: 0;
        }

        &__answer {
            padding: 0 50px;
            max-width: 500px;
        }

        @media screen and (max-width: 680px) {
            &__wrapper {
                top: 0;
                bottom: 0;
                padding: 10px;
            }
        }
    }

    .how-it {
        background: white;
        flex-direction: column;
        
        &__question {
            font-size: 3em;
            line-height: 1;
            text-align: center;
            color: #999;
            padding: 100px 0;
            background-color: white;
        }

        @media screen and (max-width: 680px) {
            &__question {
                padding: 50px 0;
            }
        }
    }
</style>
