<template lang="pug">
    md-dialog.offer-dialog(:md-active.sync="isDialogShowed", @md-closed="$emit('update:isShowed', false)")
        md-dialog-title Выберите или создайте новое предложение
        md-tabs(md-alignment="centered", :md-active-tab="activeTab", v-if="showTabs", @md-changed="setCurrentTab")
            md-tab.offer-dialog__tab(md-label="Выбрать из последних", id="items")
                md-radio.md-primary.offer-dialog__radio(
                    v-model="selectedItem",
                    v-for="item in firstFive", 
                    :key="item.id",
                    :value="item.id",
                    :disabled="offers && offers.includes(item.id)"
                ) {{ item.title }}
            
            md-tab(md-label="Создать новое", id="new")
                item-creator(submitUrl="/api/postItem", small, @submit="setItem")

        md-dialog-content(v-else)
            md-radio.md-primary.offer-dialog__radio(
                    v-model="selectedItem",
                    v-for="item in items", 
                    :key="item.id",
                    :value="item.id"
                ) {{ item.title }}

        md-dialog-actions.prompt-dialog__actions
            md-button.md-primary.offer-dialog__show-all-button(
                @click="showTabs = false", 
                v-if="showTabs && activeTab === 'items'"
            ) Показать все
            md-button.md-primary.offer-dialog__show-all-button(
                @click="showTabs = true", 
                v-else-if="activeTab === 'items'"
            ) Назад
            md-button(@click="cancelItem") Закрыть
            md-button(@click="selectItem", :disabled="selectedItem === null", v-if="activeTab === 'items'") Выбрать
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import itemCreator from './itemCreator.vue';

export default {
  props: {
    isShowed: {
      type: Boolean,
      default: false
    },
    search: Object
  },
  data: () => ({
    selectedItem: null,
    isDialogShowed: false,
    activeTab: 'items',
    showTabs: true
  }),
  computed: {
    ...mapGetters({ firstFive: 'user/firstFive', userKey: 'user/key' }),
    ...mapState('user', { items: 'items' }),
    selectedItemDetails() {
      return this.items.filter(item => item.id === this.selectedItem)[0];
    },
    selectedItemImage() {
      return (
        this.selectedItemDetails &&
        this.selectedItemDetails.images &&
        this.selectedItemDetails.images[0].url
      );
    },
    offers() {
      return (
        this.search.offers && this.search.offers.map(offer => offer.itemKey)
      );
    }
  },
  methods: {
    setItem(key) {
      this.activeTab = 'items';
      this.selectedItem = key;
    },
    cancelItem() {
      this.selectedItem = null;
      this.$emit('update:isShowed', false);
    },
    selectItem() {
      const offer = [
        {
          itemKey: this.selectedItem,
          owner: this.userKey,
          image: this.selectedItemImage,
          title: this.selectedItemDetails.title
        }
      ];
      const offers = this.search.offers
        ? this.search.offers.concat(offer)
        : offer;
      this.$db
        .doc(`requests/${this.search.id}`)
        .update({ offers })
        .then(() => {
          this.isDialogShowed = false;
          this.selectedItem = null;
          this.$emit('offers-updated', this.search.id);
        });
    },
    setCurrentTab(tab) {
      this.activeTab = tab;
    }
  },
  components: { itemCreator },
  watch: {
    isShowed() {
      this.isDialogShowed = this.isShowed;
    }
  }
};
</script>

<style lang="scss" scoped>
.md-dialog {
  @media screen and (min-width: 600px) {
    width: 500px;
    transform: translate3d(0, 0, 0) scale(1);
    top: 10%;
    left: calc(50% - 250px);
  }
}

.offer-dialog {
  z-index: 7;
  .md-radio {
    display: flex;
  }

  &__show-all-button {
    position: absolute;
    left: 20px;
  }

  &__tab {
    padding: 0 24px;
  }
}
</style>

