<template lang="pug">
    md-card.request-card(:class="{ isMobile }", md-with-hover)
        md-card-media
            img(:src="image", alt="Запрос")
            .request-card__bages.md-elevation-1(
                :class="request.status",
                v-if="request.status !== 'created'"
            ) {{ statusName }}
        md-card-header
            .md-title {{ item.title }}
            .md-subhead {{date}}
            p.request-card__user-link(v-if="$route.name === 'incoming'") от 
                user-link(:user="from", :userKey="fromKey")
            p.request-card__user-link(v-else) владелец 
                user-link(:user="owner", :userKey="ownerKey")
        md-card-actions.request-card__actions(v-if="$route.name === 'incoming' && request.status === 'created'")
            md-button(@click="updateStatus('declined'); notify('declined')") Отклонить
            md-button.md-primary.md-raised(@click="updateStatus('approved'); notify('approved')") Принять
        md-card-actions.request-card__actions(v-else-if="$route.name === 'outgoing' && request.status === 'approved'")
            md-button(@click="updateStatus('created')") Отменить
            md-button.md-primary.md-raised(@click="updateStatus('inUse')") Подтвердить получение
        md-card-actions.request-card__actions(v-else-if="$route.name === 'incoming' && request.status === 'inUse'")
            md-button.md-primary.md-raised(@click="updateStatus('finished')") Подтвердить возврат
        md-card-actions.request-card__actions(v-else-if="$route.name === 'incoming' && request.status === 'approved'")
            md-button(@click="updateStatus('created')") Отменить
        md-card-actions.request-card__actions(v-else-if="$route.name === 'outgoing' && request.status === 'created'")
            md-button(@click="removeRequest()") Удалить
            //- md-button.md-primary.md-raised Редактировать
</template>

<script>
import reqMixin from '../mixins/requestMixin';
import userLink from './userLink.vue';
import axios from 'axios';

const statusMap = {
    approved: 'Одобрен',
    declined: 'Отклонен',
    created: 'Создан',
    inUse: 'В пользовании',
    finished: 'Завершен'
};

export default {
    mixins: [reqMixin],
    data: () => ({
        from: {},
        owner: {},
        item: {}
    }),
    firestore() {
        return {
            from: this.$db.collection('users').doc(this.request.from),
            owner: this.$db.collection('users').doc(this.request.owner),
            item: this.$db.collection('items').doc(this.request.item)
        };
    },
    components: { userLink },
    computed: {
        fromKey() {
            return this.from.id;
        },
        ownerKey() {
            return this.owner.id;
        },
        showButtons() {
            return (
                this.$route.name === 'incoming' &&
                this.request.status === 'created'
            );
        },
        image() {
            return (
                this.item.images &&
                this.item.images[0] &&
                this.item.images[0].thumb
            );
        },
        statusName() {
            return statusMap[this.request.status];
        }
    },
    methods: {
        updateStatus(status) {
            this.$db.doc(`requests/${this.request.id}`).update({ status });
        },
        removeRequest() {
            this.$db.doc(`requests/${this.request.id}`).delete();
        },
        notify(status) { 
            const html = `<h3>Привет!</h3>
            <p>Ваш запрос на пользование <b>${this.item.title}</b> к <i>${this.owner.displayName}</i> ${ status === 'approved' ? 'одобрен' : 'отклонен' }.</p>
            ${ status === 'approved' ? `<p>Вы можете связаться с владельцем по тел. ${this.owner.phone}</p>` : '' }

            <p><i>С уважением, команда Коммуны.</i></p>`;
            axios.post('/api/sendNotification', { email: this.from.email, html })
        }
    }
};
</script>


<style lang="scss">
.request-card {
    position: relative;
    flex-basis: 250px;
    margin: 10px;
    flex-grow: 1;
    max-width: 400px;

    &:hover .request-card__actions {
        transform: translateY(0);
        opacity: 1;
    }

    &__actions {
        position: absolute;
        width: 100%;
        top: 0;
        background-color: rgba($color: #fff, $alpha: 0.9);
        opacity: 0;
        transform: translateY(-50px);
        transition: all 0.3s;
    }

    &__user-link {
        display: flex;
        align-items: center;
    }

    &.isMobile .request-card__actions {
        position: relative;
        opacity: 1;
        transform: translateY(0);
    }

    &__bages {
        position: absolute;
        bottom: 10px;
        right: 0;
        padding: 10px;
        color: #fff;

        &.declined {
            background-color: red;
        }

        &.approved {
            background-color: green;
        }

        &.inUse {
            background-color: lightskyblue;
        }

        &.finished {
            background-color: rgb(196, 38, 125);
        }
    }
}
</style>
