<template lang="pug">
    .review-list-item
        md-avatar.avatar-link
            router-link(
                tag="img", 
                :src="photo", 
                :to="`/profile/${detailedUser.id}`"
            )
        .review-list-item__content
            star-rating(
                :rating="review.itemRating", 
                :star-size="10", 
                :show-rating="false",
                read-only
            )
            .review-list-item__date {{ formattedDate }}
            .review-list-item__comment {{ review.comment }}
</template>

<script>
import { format } from 'date-fns';
import ru from 'date-fns/locale/ru';
import starRating from 'vue-star-rating';

export default {
  data: () => ({ detailedUser: {} }),
  props: {
    review: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    photo() {
      return (
        this.detailedUser.photos &&
        this.detailedUser.photos[0] &&
        this.detailedUser.photos[0].value
      );
    },
    formattedDate() {
      return format(new Date(this.review.date), 'DD.MM.YYYY HH:MM', {
        locale: ru
      });
    }
  },
  firestore() {
    return {
      detailedUser: this.$db.collection('users').doc(this.review.from)
    };
  },
  components: { starRating }
};
</script>

<style lang="scss" scoped>
.review-list-item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;

  .avatar-link {
    cursor: pointer;
    margin: 0;
  }

  &__content {
    display: inline-flex;
    padding-left: 20px;
    flex-direction: column;
  }

  &__date {
    color: #aaa;
  }
}
</style>
