<template lang="pug">
    md-card.search-card(:class="{ isMobile }", md-with-hover)
        md-card-area(md-inset)
            md-card-media
                img(:src="image", alt="Запрос")
            md-card-header
                .md-title {{ request.title }}
                .md-subhead {{date}}
                p.request-card__user-link(v-if="$route.name === 'incoming'") от 
                    user-link(:user="from")
            md-card-content {{ request.description }}
            md-card-actions.search-card__actions(v-if="isCurrentUser && $route.name !== 'incoming'")
                md-button(@click="removeRequest") Удалить
                //- md-button.md-primary.md-raised Редактировать
            md-card-actions.search-card__actions(v-else)
                md-button.md-primary.md-raised(@click="$emit('offer-item', request.id)") Предложить
        md-card-content.search-card__offers-container(v-if="userOffers && userOffers.length")
            .md-subhead {{ isCurrentUser ? 'Предложения' : 'Вы предложили' }}
            .search-card__offers(@click.stop="$emit('show-offers', request)")
                md-avatar.md-elevation-1.search-card__offers-avatar(
                    v-for="offer in userOffers", 
                    :key="offer.itemKey"
                ): img(:src="offer.image", alt="Item Avavtar")
                md-avatar.md-avatar-icon.md-primary.md-elevation-1.search-card__offers-avatar(v-if="lengthSuffix") 
                    | +{{lengthSuffix}}
</template>

<script>
import reqMixin from '../mixins/requestMixin';
import userLink from './userLink.vue';

export default {
    mixins: [reqMixin],
    props: {
        request: {
            type: Object,
            defailt: () => ({})
        },
        isCurrentUser: Boolean,
        currentUser: String
    },
    data: () => ({ from: {}}),
    firestore() {
        return {
            from: this.$db.collection('users').doc(this.request.from)
        };
    },
    computed: {
        image() {
            return (
                this.request.images &&
                this.request.images[0] &&
                this.request.images[0].thumb
            );
        },
        firstFiveOffers() {
            return this.request.offers && this.request.offers.slice(0, 5);
        },
        lengthSuffix() {
            return (
                this.request.offers &&
                this.request.offers.length > 5 &&
                this.request.offers.length - 5
            );
        },
        userOffers() {
            return this.isCurrentUser
                ? this.firstFiveOffers
                : this.request.offers &&
                      this.request.offers.filter(
                          offer => offer.owner === this.currentUser
                      );
        }
    },
    methods: {
        removeRequest() {
            this.$db.doc(`requests/${this.request.id}`).delete();
        }
    },
    components: { userLink }
};
</script>


<style lang="scss">
.search-card {
    position: relative;
    flex-basis: 250px;
    margin: 10px;
    flex-grow: 1;
    max-width: 400px;

    &:hover .search-card__actions {
        transform: translateY(0);
        opacity: 1;
    }

    &__actions {
        position: absolute;
        width: 100%;
        top: 0;
        background-color: rgba($color: #fff, $alpha: 0.9);
        opacity: 0;
        transform: translateY(-50px);
        transition: all 0.3s;
    }

    &__offers-container {
        position: relative;
    }

    &__offers {
        position: absolute;
        top: 10px;
        right: 50px;

        &-avatar {
            position: relative;
            margin-right: -20px;
        }
    }

    .md-avatar {
        font-size: 18px;
    }

    &.isMobile .search-card__actions {
        position: relative;
        opacity: 1;
        transform: translateY(0);
    }
}
</style>
