<template lang="pug">
    md-dialog.set-rating-dialog(:md-active.sync="showRatingDialog", @md-closed="$emit('update:isShowed', false)")
        md-dialog-title Оставьте свой отзыв
        md-dialog-content
            .set-rating-dialog__part(v-if="showItemRating")
                span.rating-label Оценка предложения
                star-rating(v-model="itemRating", :star-size="20", :show-rating="false", inline)
            .set-rating-dialog__part
                span.rating-label Оценка юзера
                star-rating(v-model="userRating", :star-size="20", :show-rating="false", inline)
            md-field
                label Ваши впечатления о сделке
                md-textarea(v-model="comment")
        md-dialog-actions
            md-button(@click="cancel") Отменить
            md-button.md-primary(@click="confirmRating") Подтвердить
</template>

<script>
import starRating from 'vue-star-rating';

export default {
  props: {
    isShowed: {
      type: Boolean,
      default: false
    },
    showItemRating: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    showRatingDialog: false,
    itemRating: 0,
    userRating: 0,
    comment: ''
  }),
  methods: {
    confirmRating() {
      const data = {
        itemRating: this.itemRating,
        userRating: this.userRating,
        comment: this.comment,
        date: Date.now()
      };
      this.$emit('confirmed', data);
      this.clearData();
    },
    clearData() {
      this.itemRating = 0;
      this.userRating = 0;
      this.comment = '';
    },
    cancel() {
      this.showRatingDialog = false;
      this.clearData();
    }
  },
  components: { starRating },
  watch: {
    isShowed() {
      this.showRatingDialog = this.isShowed;
    }
  }
};
</script>

<style lang="scss" scoped>
.set-rating-dialog {
  top: 20%;
  left: calc(50% - 150px);
  width: 300px;
  transform: none;

  &__part {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;

    .rating-label {
      margin-right: 10px;
      font-size: 16px;
    }

    &:first-child {
      padding-top: 20px;
    }
  }
}
</style>

