<template lang="pug">
  router-link.stream-card(:to="`/items/${item.id}`")
    md-card.stream-card-container
      md-card-header
        router-link(tag="div", :to="`/profile/${from.id}`")
          md-avatar
            img(:src="from.photos && from.photos[0].value" alt="Avatar")
        .md-title.stream-card-container__title {{ item.title }}
        .md-subhead {{ createdAt }}
      
      md-card-media
        img(:src="item.images[0].thumb" alt="People")
      
      md-card-content.stream-card__description {{ item.description }}
      md-card-actions
        md-button {{ buttonText }}
</template>

<script>
import { format } from 'date-fns';
import ru from 'date-fns/locale/ru';

export default {
  props: {
    author: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'item'
    },
    item: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({ from: {}}),
  computed: {
    createdAt () { return this.item && format(new Date(this.date), 'DD.MM.YYYY HH:MM', {
        locale: ru
      }); 
    },
    date () { return this.type === 'item' ? this.item.created : this.item.date },
    buttonText () { return this.type === 'item' ? 'Отправить Запрос' : 'Предложить' }
  },
  firestore() {
      return {
          from: this.$db.collection('users').doc(this.author)
      };
  },
}
</script>

<style lang="scss" scoped>
  .stream-card {
    flex-basis: 300px;
    max-width: 500px;
    margin: 0 20px 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &:hover {
      text-decoration: none;
    }

    &-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__description {
      flex-grow: 1;
    }
  }
</style>
