<template lang="pug">
    section.user-info
        md-button.md-icon-button.md-raised.md-dense.md-primary.add-to-friends(
            v-if="isFriend",
            @click="deleteFriend"
        )
            md-icon done
        md-button.md-icon-button.md-raised.md-dense.add-to-friends(
            v-else,
            @click="addFriend"
        )
            md-icon person_add
        md-avatar.md-large
            img(:src="user.photos && user.photos[0].value", alt="Avatar")
        .user-info__info
            h1.user-info__title {{ user.displayName }}
            .user-info__subtitle Пригласил
                router-link.user-info__subtitle--link(
                    :to="`/profile/${invitedBy.id}`", 
                    title="Пригласивший"
                ) {{ invitedBy.displayName }} 
            star-rating(:rating="user.rating", :star-size="20", :show-rating="false", read-only)
</template>

<script>
import starRating from 'vue-star-rating';
import { mapState, mapActions } from 'vuex';

export default {
  props: ['id'],
  data: () => ({ invitedBy: {}, user: {} }),
  computed: {
    ...mapState('user', { currentUser: 'profile' }),
    isFriend() {
      return (
        this.currentUser.friends && this.currentUser.friends.includes(this.id)
      );
    }
  },
  methods: {
    ...mapActions(['bindRef', 'unbindRef']),
    readyCallback() {
      const itemsRef = this.$db
        .collection('items')
        .where('owner', '==', this.user.id)
        .where('status', '==', 'active');
      const reqsRef = this.$db
        .collection('requests')
        .where('from', '==', this.user.id);
      if (this.user.invitedBy) {
        const invitedByRef = this.$db
          .collection('users')
          .doc(this.user.invitedBy);
        this.$bind('invitedBy', invitedByRef);
      }

      this.bindRef({ field: 'detailedUserItems', refObj: itemsRef });
      this.bindRef({ field: 'detailedUserRequests', refObj: reqsRef });
    },
    addFriend() {
      const friends = this.currentUser.friends.concat([this.id]);
      this.$db.doc(`users/${this.currentUser.id}`).update({ friends });
    },
    deleteFriend() {
      const friends = this.currentUser.friends.filter(
        userId => userId !== this.id
      );
      this.$db.doc(`users/${this.currentUser.id}`).update({ friends });
    },
    bindUser() {
      this.$bind('user', this.$db.collection('users').doc(this.id))
        .then(this.readyCallback)
        .catch(console.log);
    }
  },
  components: { starRating },
  watch: {
    id() {
      this.$unbind('user');
      this.$unbind('invitedBy');
      this.bindUser();
    }
  },
  mounted() {
    this.bindUser();
  }
};
</script>

<style lang="scss">
.user-info {
  display: flex;
  padding: 50px 50px 20px;
  margin: 20px 20px 0;
  background-color: white;
  position: relative;

  .md-avatar {
    margin-top: 10px;
  }

  .add-to-friends {
    margin: 0;
    position: absolute;
    top: 110px;
    left: 66px;
  }

  @media screen and (max-width: 600px) {
    margin: 0;
  }

  &__info {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.8em;
    flex-grow: 1;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    font-size: 13px;
    margin-bottom: 10px;
    color: #aaa;
    padding-left: 2px;

    &--link {
      margin-left: 5px;
    }
  }
}
</style>
