<template lang="pug" functional>
    router-link.user-link(tag="span", :to="`/profile/${props.user.id}`")
        md-avatar.md-small.user-link__avatar
            img(:src="props.user.photos && props.user.photos[0].value", alt="Avatar")
        | {{ props.user.displayName }}
</template>

<style lang="scss">
.user-link {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 15px;

    &__avatar {
        margin-right: 10px;
    }
}
</style>
