<template lang="pug">
v-touch.layout#app(
    tag="section"
    @swiperight="setField({ field: 'showDrawer', value: true })"
    @swipeleft="setField({ field: 'showDrawer', value: false })"
    :swipe-options="{ direction: 'horizontal', threshold: 10 }"
)
    md-toolbar( 
      :class="['layout-toolbar', device !== 'desktop' ? 'md-dense' : 'md-large']"
      md-elevation="0"
    )
        md-button.md-icon-button( 
            v-if="device !== 'desktop' && currentUser"
            @click="setField({ field: 'showDrawer', value: !showDrawer })"
        )
            md-icon(v-if="showDrawer") keyboard_arrow_left
            md-icon(v-else) keyboard_arrow_right
        logo
        md-button.login-button.md-raised(
          href="/api/auth/vkontakte", 
          v-if="!currentUser"
        ) Войти на сайт

    section.layout-main
        drawer.layout-drawer(
            v-if="currentUser"
            :currentUser="currentUser" 
            :device="device"
            :isShowed="showDrawer"
            @closed="setField({ field: 'showDrawer', value: false })"
        )
        transition(name="fade", mode="out-in", appear)
            component.layout-content(
                :class="{ isMobile, isTablet: device === 'tablet', isLanding: !currentUser }"
                :is="isRouteLoading ? 'loader' : 'router-view'"
                :isMobile="isMobile"
            )
    footer.layout-footer
      router-link(to="/about") Информация о проекте
    md-snackbar(
        md-position="left", 
        :md-active="showSnackbar", 
        md-persistent,
        @update:mdActive="setField({ field: 'showSnackbar', value: false })",
    )
            span {{ snackbarMessage }}
            md-button.md-primary(
                @click="setField({ field: 'showSnackbar', value: false })"
            ) Понял
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from "vuex";
import drawer from "./components/drawer.vue";
import logo from "./components/logo.vue";
import loader from "./components/loader.vue";
import { enableScroll, disableScroll } from "./utils/scrollToggler";
import MD from "mobile-detect";

export default {
  computed: {
    isMobile() {
      return this.device === "mobile";
    },
    ...mapState("user", { currentUser: "profile" }),
    ...mapState([
      "showSnackbar",
      "snackbarMessage",
      "device",
      "isRouteLoading",
      "showDrawer"
    ]),
    ...mapGetters(["isMobileDevice"])
  },
  methods: {
    setDevice(md) {
      const value = md.phone() ? "mobile" : md.tablet() ? "tablet" : "desktop";
      if (this.device !== value) this.setField({ field: "device", value });
    },
    ...mapActions({ bindRef: "user/bindRef", mainBind: "bindRef" }),
    ...mapMutations(["setField"])
  },
  components: {
    drawer,
    logo,
    loader
  },
  beforeCreate() {
    // eslint-disable-next-line consistent-return
    this.$auth.onAuthStateChanged(user => {
      if (!user)
        return this.$store.commit("user/setField", {
          field: "profile",
          value: null
        });
      this.bindRef({
        field: "profile",
        refObj: this.$db.doc(`users/${user.uid}`)
      });
      this.bindRef({
        field: "items",
        refObj: this.$db.collection("items").where("owner", "==", user.uid)
      });
      this.bindRef({
        field: "incomingRequests",
        refObj: this.$db.collection("requests").where("owner", "==", user.uid)
      });
      this.bindRef({
        field: "outgoingRequests",
        refObj: this.$db.collection("requests").where("from", "==", user.uid)
      });
      this.bindRef({
        field: "incomingDeals",
        refObj: this.$db.collection("deals").where("to", "==", user.uid)
      });
      this.bindRef({
        field: "outgoingDeals",
        refObj: this.$db.collection("deals").where("from", "==", user.uid)
      });
      this.mainBind({
        field: "categories",
        refObj: this.$db.collection("categories")
      });
      this.bindRef({
        field: "lastFiveItemsBefore",
        refObj: this.$db
          .collection("items")
          .where("status", "==", "active")
          .orderBy("owner")
          .where("owner", "<", user.uid)
          .orderBy("created")
          .limit(5)
      });
      this.bindRef({
        field: "lastFiveItemsAfter",
        refObj: this.$db
          .collection("items")
          .where("status", "==", "active")
          .orderBy("owner")
          .where("owner", ">", user.uid)
          .orderBy("created")
          .limit(5)
      });
      this.bindRef({
        field: "lastFiveSearchesBefore",
        refObj: this.$db
          .collection("requests")
          .where("type", "==", "search")
          .orderBy("from")
          .where("from", "<", `${user.uid}`)
          .orderBy("date")
      });
      this.bindRef({
        field: "lastFiveSearchesAfter",
        refObj: this.$db
          .collection("requests")
          .where("type", "==", "search")
          .orderBy("from")
          .where("from", ">", `${user.uid}`)
          .orderBy("date")
      });
    });
  },
  watch: {
    showDrawer(val) {
      if (val && this.isMobileDevice) {
        disableScroll();
      } else enableScroll();
    }
  },
  beforeMount() {
    const md = new MD(window.navigator.userAgent);
    this.setDevice(md);
  },
  mounted() {
    this.setField({
      field: "showDrawer",
      value: this.device === "desktop"
    });
  }
};
</script>

<style lang="scss">
body {
  overflow-x: hidden;
}

.layout {
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &-toolbar {
    border-bottom: 1px solid #ddd;
  }

  &-drawer:not(.isMobile) {
    flex-shrink: 0;
    position: absolute;
    overflow-y: hidden;
  }

  &-main {
    flex-grow: 1;
    display: flex;
    position: relative;
  }

  &-content {
    padding-left: 400px;
    flex-grow: 1;
    max-width: 100%;

    &.isMobile {
      padding-left: 0;
    }

    &.isTablet:not(.isLanding) {
      padding-left: 70px !important;
    }
  }

  &-footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    position: relative;
    z-index: 4;
    background-color: #fafafa;
  }
}

h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
}

.fullwidth {
  width: 100%;
}

.hidden {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.left-enter-active,
.left-leave-active {
  transition: all 3s ease-in-out;
}
.left-enter {
  transform: translateX(2vw);
  opacity: 0;
}
.left-leave-to {
  transform: translateX(-2vw);
  opacity: 0;
}

.right-enter-active,
.right-leave-active {
  transition: all 3s ease-in-out;
}
.right-enter {
  transform: translateX(-2vw);
  opacity: 0;
}
.right-leave-to {
  transform: translateX(2vw);
  opacity: 0;
}
</style>
